.i {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 5.5rem;
}

.i-center {
  margin-top: 1.5rem;
  position: absolute;
  top: 7rem;
  border: 0.4rem solid #eef4ed;
  width: 35rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 3rem;
}

p {
  font-size: 1.2rem;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.i-footer {
  display: flex;
  margin-left: 2rem;
}
